@font-face {
  font-family: "whitneylight";
  src: url("./fonts/fontsWOFF/whitneylight.woff") format("woff")
}
@font-face {
  font-family: "whitneybold";
  src: url("./fonts/fontsWOFF/whitneybold.woff") format("woff")
}
@font-face {
  font-family: "GrechenFuemen";
  src: url("./fonts/fontsWOFF/GrechenFuemen-Regular.woff") format("woff")
}

body {
  font-family: whitneylight;
  color: white;
  background-color: black;
}

.shadow {
  box-shadow: 10px 5px 5px black !important;
}

.text-color {
  color: black;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: teal;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.borderBottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
}
.userinfos {
  color: #ffe593;
}
.userinfos .col-1 {
  width: 4% !important;
}
.userinfos .col-2 {
  width: 10% !important;
}
.userinfos .col-9 {
  width: 86% !important;
}