@font-face {
  font-family: "whitneylight";
  src: url("./fonts/fontsWOFF/whitneylight.woff") format("woff")
}
@font-face {
  font-family: "whitneybold";
  src: url("./fonts/fontsWOFF/whitneybold.woff") format("woff")
}
@font-face {
  font-family: "GrechenFuemen";
  src: url("./fonts/fontsWOFF/GrechenFuemen-Regular.woff") format("woff")
}

body {
  font-family: whitneylight;
  color: white;
}

.shadow {
  box-shadow: 10px 5px 5px black !important;
}